@import "tailwindcss";

body {
  font-family: 'IBM Plex Mono', monospace;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  z-index: -50;         /* behind ALL page content */
  pointer-events: none; /* prevents blocking clicks */
}

#particles-js canvas {
  width: 100% !important;
  height: 100% !important;
}