@import "tailwindcss";

body {
  font-family: 'IBM Plex Mono', monospace;
}

#particles-js {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: -10;
}

#particles-js canvas {
  width: 100% !important;
  height: 100% !important;
}